.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 140px auto;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
.button{
  display: flex;
  justify-content: center;
}