.main {
  display: grid;
  max-width: 860px;
  margin: 80px auto;
  grid-template-columns: 320px 480px;
  column-gap: 60px;
  row-gap: 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 24px 0 0;
}
